
.footer-content ul li a {
    text-decoration: none;
    color: white;
}    
.footer-content ul li {
    list-style: none;
}
.footer{
    background: #101d30;
    color: white;
 
}
.footer-content h4{
 margin-bottom: 30px;
}
.seconWave{
    width: 100%;
}
.footer-content img{
 width: 60px;
 transition: 0.5s;
}
.footer-content a:hover img{
     transform: translateY(-10px)
}